<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angularjs weekly scheduler demo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css"/>
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css"/>
  <![endif]-->
  <link rel="stylesheet" href="ng-weekly-scheduler.css">
</head>
<body class="container-fluid" ng-app="demoApp">

<a class="github-fork-ribbon" href="https://github.com/fmaturel/angular-weekly-scheduler" title="Fork me on GitHub">Fork me on GitHub</a>

<div class="row" ng-controller="DemoController as demo">
  <div class="col-xs-10 col-xs-offset-1">

    <h1>Angularjs weekly scheduler</h1>

    <h2>1. Demo</h2>

    <div>
      <label for="language">Choose your language:</label>
      <select id="language" ng-model="model.locale" ng-change="demo.onLocaleChange()">
        <option value="en-us" selected>us</option>
        <option value="en-gb" selected>gb</option>
        <option value="fr-fr">fr</option>
        <option value="de-de">de</option>
        <option value="es-es">es (lang customized in demo)</option>
      </select>
    </div>

    <div>
      <code>$scope.model</code>
      <pre ng-bind="model | json" style="max-height: 200px;"></pre>
    </div>

    <weekly-scheduler class="scheduler"
                      items="model.items"
                      on-change="demo.doSomething"
                      on-delete="demo.doSomething"
                      options="model.options">
      <div class="srow">{{item.label}}</div>
    </weekly-scheduler>

    <div class="pull-right">
      <button class="btn btn-success" role="button" ng-click="model.items.push({label: 'New Campaign'})">Add new campaign</button>
      <button class="btn btn-success" role="button" ng-click="demo.reload()">Reload</button>
    </div>

  </div>
</div>
<script src="/vendor/angular/angular.js"></script>
<script src="/vendor/angular-dynamic-locale/dist/tmhDynamicLocale.js"></script>
<script src="/vendor/moment/moment.js"></script>
<script src="/js/ng-weekly-scheduler.js"></script>
<script src="demo-app.js"></script>
</body>
</html>