/*---------------------------------------------------------------- Scheduler */
.scheduler {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.scheduler::after {
  content: "";
  display: block;
  clear: both;
}

.scheduler .labels, .scheduler .schedule-area-container {
  display: block;
  float: left;
}

.scheduler .labels {
  width: 15%;
  color: #666;
  border-right: 1px solid #ddd;
}

.scheduler .labels .srow {
  padding: 0 5px;
  border-bottom: 1px solid #ddd;
}

.scheduler .schedule-area-container {
  overflow-x: scroll;
  width: 85%;
}

.scheduler .srow {
  position: relative;
  height: 35px;
  line-height: 35px;
}

.scheduler .timestamps {
  color: #aaa;
  position: relative;
}

.scheduler .timestamps .grid-container div {
  border-right: 1px solid #eee;
}

.scheduler .timestamps .grid-container div:last-child {
  border-right: none;
}

/*------------------------------------------------------------- Multi-slider */
multi-slider {
  position: relative;
  display: block;
  height: 35px;
  overflow: hidden;
}

multi-slider .slot {
  position: absolute;
  top: 5px;
  bottom: 5px;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  line-height: 25px;
  color: #fff;
}

multi-slider .ghost {
  background: #5ab57a;
  opacity: 0.6;
  display: none;
  cursor: pointer;
}

multi-slider:hover .ghost {
  display: block;
}

multi-slider.slot-hover .ghost {
  display: none;
}

multi-slider.dragging .ghost {
  display: none;
}

multi-slider weekly-slot {
  -webkit-transition: background 0.1s ease-in;
  cursor: all-scroll;
  min-width: 10px !important;
  background: #4eb8d5;
}

multi-slider weekly-slot.disable {
  cursor: not-allowed;
  color: #666;
  background: #c0c0c0;
}

multi-slider weekly-slot .handle {
  position: absolute;
  top: 0;
  bottom: 0;
}

multi-slider weekly-slot .handle.left, multi-slider weekly-slot .handle.right {
  width: 10px;
  background: #000;
  cursor: col-resize;
  opacity: 0.1;
}

multi-slider weekly-slot.disable .handle {
  cursor: not-allowed;
}

multi-slider weekly-slot .handle.left:hover, multi-slider weekly-slot .handle.right:hover {
  opacity: 0.3;
}

multi-slider weekly-slot .handle.left {
  left: 0;
}

multi-slider weekly-slot .handle.right {
  right: 0;
}

multi-slider weekly-slot:not(.disable) .remove {
  display: none;
  cursor: pointer;
  float: right;
  margin-right: -30px;
  width: 25px;
  background: red;
  border-radius: 20%;
  opacity: 0.5;
  transform: translateY(-100%);
}

multi-slider weekly-slot:not(.disable) .remove:before {
  position: absolute;
  content: "";
  left: -5px;
  width: 10px;
  height: 25px;
}

multi-slider weekly-slot:hover .remove {
  display: block;
}

multi-slider weekly-slot .remove:hover {
  opacity: 1;
}

multi-slider weekly-slot.active {
  z-index: 10;
  background: #5ab57a;
  color: #fff;
}

.grid-container {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  border-bottom: 1px solid #ddd;
}

.grid-container div {
  float: left;
  height: 34px;
  overflow: hidden;
  text-align: center;
}

.grid-container.striped div:nth-child(even) {
  background: #fafafa;
}

.github-fork-ribbon:after {
  line-height: 1em;
}

/*--------------------------------------------------------------- Animations */
.schedule-animate {
  transition: opacity 200ms ease-out;
}
.schedule-animate.ng-enter, .schedule-animate.ng-hide-remove {
  opacity: 0;
}
.schedule-animate.ng-leave, .schedule-animate.ng-hide-add {
  display: none;
  opacity: 1;
}