<div class="labels">
  <div class="srow text-right">{{schedulerCtrl.config.labels.month || 'Month'}}</div>
  <div class="srow text-right">{{schedulerCtrl.config.labels.weekNb || 'Week number'}}</div>
  <div class="schedule-animate" ng-repeat="item in schedulerCtrl.items" inject></div>
</div>

<div class="schedule-area-container">
  <div class="schedule-area">

    <div class="srow timestamps">
      <monthly-grid class="grid-container"></monthly-grid>
    </div>

    <div class="srow timestamps">
      <weekly-grid class="grid-container"></weekly-grid>
    </div>

    <div class="srow schedule-animate" ng-repeat="item in schedulerCtrl.items">
      <weekly-grid class="grid-container striped" no-text></weekly-grid>
      <multi-slider index="{{$index}}"></multi-slider>
    </div>
  </div>
</div>
